# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/
.DS_Store
*.log
*.freezed.dart
*.g.dart
.env
.env.local
coverage/
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/Flutter/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
